---
import Layout from '../layouts/Layout.astro';
import './src/styles/global.css'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	
	<main>
		<h1 class="text-center text-7xl font-extrabold pt-20 ">Seb &#128218;

			 <span class="block">Books</span></h1>
	</main>
</Layout>
